.top-wrap {
  height: 50%;
  width: 100%;
  position: fixed;
  vertical-align: middle;
}

.top{
  height: 100%;
  width: 100%;
  background-color: red;
  text-align: center;
  vertical-align: middle;
}

.bottom-wrap{
  height: 50%;
  width: 100%;
  position: fixed;
  vertical-align: middle;
}

.bottom{
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: blue;
}
