.top-wrap {
  height: 50%;
  width: 100%;
  position: fixed;

}

.top{
  height: 100%;
  width: 100%;
  background-color: red;
  text-align: center;
  line-height: 5300%;
}

.bottom-wrap{
  height: 50%;
  width: 100%;
  position: fixed;
}

.bottom{
  height: 100%;
  width: 100%;
  text-align: center;
}
